n8n_workflow.json
{
  "name": "Interview Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "interview-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process interview transcript from Recall.ai\nconst data = $input.item.json;\n\n// Extract transcript\nlet transcript = '';\nif (data.transcript) {\n  if (typeof data.transcript === 'string') {\n    transcript = data.transcript;\n  } else if (Array.isArray(data.transcript)) {\n    transcript = data.transcript.map(seg => seg.text || '').join(' ');\n  }\n}\n\n// Extract metadata\nconst interviewData = {\n  bot_id: data.bot_id || data.id,\n  meeting_url: data.meeting_url,\n  timestamp: new Date().toISOString(),\n  transcript: transcript,\n  duration: data.duration || data.audio_duration,\n  raw_data: data\n};\n\nreturn interviewData;"
      },
      "id": "process-data",
      "name": "Process Interview Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/webhook/n8n",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "interview_data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-api",
      "name": "Send to API Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Interview data processed\" } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Process Interview Data", "type": "main", "index": 0}]]
    },
    "Process Interview Data": {
      "main": [[{"node": "Send to API Server", "type": "main", "index": 0}]]
    },
    "Send to API Server": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

